.cover__subtitle {
    max-width: 360px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 32px;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 16px;
    }
}