.place__paragraphs {
    max-width: 484px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        gap: 28px;
    }
}

@media screen and (max-width: 610px) {
    .place__paragraphs {
        padding-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
        max-width: 288px;
        padding-left: 16px;
        padding-top: 32px;
        gap: 25px;
    }
}