.footer__copyright {
    color: #FFFFFF;
    position: absolute;
    bottom: 24px;
    right: 48px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

@media screen and (max-width: 320px) and (max-width: 700px) {
    .footer__copyright {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        bottom: 24px;
        left: 16px;
    }
}