.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.cover::after {
    content: "";
    width: 0;
    height: 0;
    padding-top: calc(740/1184*100%);
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width: 500px) {
    .cover {
        min-height: 350px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
    }
}