.place__url-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20.4px;
    margin: 0;
    color: #AAAAAA;
}

@media screen and (max-width: 768px) {
    .place__url-heading {
        line-height: 12px;
    }
}
