.header__lang-links {
    display: flex;
    flex-direction: row;
    row-gap: 18px;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
    top: 46px;
    right: 48px;
}

@media screen and (max-width: 768px) and (max-width: 1000px) {
    .header__lang-links {
        top: 46px;
        right: 24px;
    }
}

@media screen and (max-width: 320px) and (max-width: 700px) {
    .header__lang-links {
        row-gap: 18px;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        top: 30px;
        right: 16px;
    }
}